@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  
  /* Mapeamento das Cores para as Variáveis do Tema */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --font-sans: "Inter", sans-serif;
  --radius: 0.625rem;


  --background: #FFFFFF;
  --foreground: #0A0A0A; 


  --card: #FFFFFF;
  --card-foreground: #0A0A0A;
  --popover: #FFFFFF;
  --popover-foreground: #0A0A0A;


  --primary: #211F42;
  --primary-foreground: #FFFFFF;


  --secondary: #F3F3F5;
  --secondary-foreground: #211F42;
  --muted: #F3F3F5;
  --muted-foreground: #717182; 

 
  --accent: #F3F3F5;
  --accent-foreground: #211F42;


  --destructive: #D4183D;
  --destructive-foreground: #FFFFFF;


  --border: #E1E1E6;
  --input: #E1E1E6;
  --ring: #211F42; 


  --chart-1: #193CB8; 
  --chart-2: #016630; 
  --chart-3: #FDC700; 
  --chart-4: #894B00; 
  --chart-5: #D4183D; 

  
  --sidebar: #FFFFFF;
  --sidebar-foreground: #0A0A0A;
  --sidebar-primary: #211F42;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F3F3F5;
  --sidebar-accent-foreground: #211F42;
  --sidebar-border: #E1E1E6;
  --sidebar-ring: #211F42;
}

.dark {
  --background: #030213;
  --foreground: #FFFFFF;
  --card: #211F42;
  --card-foreground: #FFFFFF;
  --popover: #211F42;
  --popover-foreground: #FFFFFF;

  --primary: #FFFFFF;
  --primary-foreground: #211F42;

  --secondary: #211F42;
  --secondary-foreground: #FFFFFF;
  --muted: #211F42;
  --muted-foreground: #717182;


  --accent: #211F42;
  --accent-foreground: #FFFFFF;


  --destructive: #D4183D; 
  --destructive-foreground: #FFFFFF;


  --border: #211F42;
  --input: #211F42;
  --ring: #717182;


  --chart-1: #193CB8; 
  --chart-2: #016630; 
  --chart-3: #FDC700;
  --chart-4: #894B00; 
  --chart-5: #D4183D; 


  --sidebar: #030213;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #193CB8; 
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #211F42;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #211F42;
  --sidebar-ring: #717182;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
  }
}